# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
**/.DS_Store
**/*.log
**/*.log.zip
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
#**/dist/lib
**/dist/**/*.log
**/build

# My configurations:
db.ini
deploy_key_rsa

#java
*.class
*.classpath
*.project
*.settings
.classpath
.project
**/target/
*classpath
**/log
*dependency-reduced-pom.xml
**/tree.txt

#idea
**/*.iml
**/.idea/